<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="public/css/css.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
	<main>
		<header>
			<div class="header__heading">
				<h1>weatherro - your weather assistant</h1>
			</div>
			<div class="header__icons">
				<!-- ikonka xD -->
			</div>
		</header>

		<div class="wrapper">
			<section class="weather">

			</section>

		</div>
	</main>


	<!--
	<p>{{foo}}</p>
	<p>{{bar}}</p>
-->
</body>

</html>