<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="public/css/css.css?v=3">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
	<main>
		<header>
			<div class="header__container">
				<div class="header__heading">
					<h1>weatherro - your weather assistant</h1>
				</div>
				<div class="icons icons--smaller">
					<div class="icons--moon"></div>
				</div>
			</div>
		</header>

		<div class="wrapper">

			<section class="weather">
				<div class="weather__box weather__check">
					<p class="weather__checkText">SPRAWDŹ POGODĘ</p>
					<form action="http://127.0.0.1:{{appPort}}/api/weather" method="POST">
						<input type="text" placeholder="wpisz nazwę miasta" class="weather__input"
							name="weather__cityname">
					</form>

					<div class="weather__cities">
						<!--
						<button class="weather__city btn btn-white">Warszawa</button>
						<button class="weather__city btn btn-white">Radom</button>
						<button class="weather__city btn btn-white">Kielce</button>
						<button class="weather__city btn btn-white">Władysławowo</button>
						-->
					</div>
				</div>



				<div class="weather__box weather__moreinfo">
					<div class="weather__date">
						<p class="weather__dateCityInfo">Obecne miasto</p>
						<p class="weather__dateTime">X</p>
					</div>

					<div class="weather__town">
						<p class="weather__currentCity"></p>
						<div class="icons icons--bigger">
							<div class="icons--rainy"></div>
						</div>
					</div>

					<section class="details">
						<div class="details__box">
							<p class="details__desc">Temperatura (odczuwalna)</p>
							<p class="details__info">X <span>(X)</span></p>
						</div>
						<div class="details__box">
							<p class="details__desc">Wilgotność</p>
							<p class="details__info">X</p>
						</div>
						<div class="details__box">
							<p class="details__desc">Zachód słońca</p>
							<p class="details__info">X</p>
						</div>
					</section>

					<section class="chart">
						<canvas id="myChart" width="400" height="400"></canvas>
					</section>
				</div>
			</section>
		</div>
	</main>

	<script type="module">
		import '../public/js/Chart.js';
		import * as Request from '../public/js/Request.js';
		import * as Geolocation from '../public/js/GeolocationService.js';
		import * as DOM from '../public/js/DOM.js';
		import '../public/js/Form.js';
		import '../public/js/Darkmode.js';

		window.addEventListener("DOMContentLoaded", event => {

			document.querySelector("form").addEventListener("submit", e => {
				e.preventDefault();

				let inputCity = document.querySelector(".weather__input").value;
				fetch(e.target.action,
					{
						method: "POST",
						headers:
						{
							'Accept': 'application/json',
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({ weather__cityname: inputCity })
					})
					.then(resp => resp.json())
					.then(data => DOM.fillWeatherInfo(data))
					.then(
						Request
							.getShortWeatherData(inputCity)
							.then(data => DOM.prepareChartData(data))
					);
			});
		});

	</script>
</body>

</html>