html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@font-face {
    font-family: Lato2;
    src: url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato-Regular.woff2") format("woff");
    font-style: normal;
}

body {
    font-family: Lato, sans-serif;
    letter-spacing: -.5px;
    margin: 0 auto;
    background-color: #e2e2e477;
}

header {
    width: 100%;
    background-color: white;
    box-shadow: 0px -3px 23px -1px rgba(0, 0, 0, 0.75);

    h1 {
        font-size: 20px;
    }
}

.header {
    &__container {
        > div {
            > * {
                margin: 20px;
            }
        }
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 100%; //width 100% due to mobile-first
    }
}

.icons {
    > div {
        background-size: 100% 100%;
    }
    &--rainy {
        background-image: url("../img/rain.png");
    }
    &--moon {
        background-image: url("../img/moon2.png");
        &:hover {
            cursor: pointer;
            background-image: url("../img/moon.png");
        }
    }
    &--bigger {
        > div {
            width: 65px;
            height: 65px;
        }
    }
    &--smaller {
        > div {
            width: 25px;
            height: 25px;
        }
    }
}

.weather {
    display: flex;
    flex-direction: column;
    &__checkText {
        font-weight: bold;
        font-size: 17px;
    }

    &__input {
        box-sizing: border-box;
        border: none;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        background-color: #e0e0e0ec;
        padding: 20px;
        font-size: 16px;
        &::placeholder {
            font-family: Lato;
            color: #3b3b3b;
        }
    }

    &__box {
        margin: 20px;
        &:nth-child(2) {
            background-color: white;
        }
    }

    &__cities {
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__city {
        flex: 0 45%;
        //margin-top: 15px;
        &:not(:last-child)
        {
            margin-top: 10px;
        }
    }

    &__date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
    }

    &__town {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__currentCity {
        font-size: 35px;
    }

    &__moreinfo {
        padding: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__dateCityInfo {
        color: #9d9d9d;
    }

    &__dateTime {
        font-weight: bold;
    }
}

.details {
    display: flex;
    flex-direction: column;
    &__box {
        box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        &:not(:nth-child(1)) {
            margin-top: 20px;
        }
    }

    &__desc {
        font-size: 17px;
        //font-weight: bold;
    }

    &__info {
        //margin-top: 10px;
        font-size: 30px;
        font-weight: bold;
        span
        {
            font-size: 20px;
        }
    }
}

.chart
{
    margin-top: 20px;
}

.btn {
    font-family: Lato;
    font-size: 19px;
    border: 1px solid #86868652;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-white
{
    background-color: white;
}

@import "rwd/rwd.scss";