html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: Lato2;
  src: url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.woff2") format("woff");
  font-style: normal;
}

body {
  font-family: Lato, sans-serif;
  letter-spacing: -.5px;
  margin: 0 auto;
  background-color: #e2e2e477;
}

header {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px -3px 23px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -3px 23px -1px rgba(0, 0, 0, 0.75);
}

header h1 {
  font-size: 20px;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 100%;
}

.header__container > div > * {
  margin: 20px;
}

.icons > div {
  background-size: 100% 100%;
}

.icons--rainy {
  background-image: url("../img/rain.png");
}

.icons--moon {
  background-image: url("../img/moon2.png");
}

.icons--moon:hover {
  cursor: pointer;
  background-image: url("../img/moon.png");
}

.icons--bigger > div {
  width: 65px;
  height: 65px;
}

.icons--smaller > div {
  width: 25px;
  height: 25px;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather__checkText {
  font-weight: bold;
  font-size: 17px;
}

.weather__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #e0e0e0ec;
  padding: 20px;
  font-size: 16px;
}

.weather__input::-webkit-input-placeholder {
  font-family: Lato;
  color: #3b3b3b;
}

.weather__input:-ms-input-placeholder {
  font-family: Lato;
  color: #3b3b3b;
}

.weather__input::-ms-input-placeholder {
  font-family: Lato;
  color: #3b3b3b;
}

.weather__input::placeholder {
  font-family: Lato;
  color: #3b3b3b;
}

.weather__box {
  margin: 20px;
}

.weather__box:nth-child(2) {
  background-color: white;
}

.weather__cities {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather__city {
  -webkit-box-flex: 0;
      -ms-flex: 0 45%;
          flex: 0 45%;
}

.weather__city:not(:nth-child(1)) {
  margin-top: 15px;
}

.weather__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.weather__town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.weather__currentCity {
  font-size: 35px;
}

.weather__moreinfo {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.weather__dateCityInfo {
  color: #9d9d9d;
}

.weather__dateTime {
  font-weight: bold;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details__box {
  -webkit-box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.details__box:not(:nth-child(1)) {
  margin-top: 20px;
}

.details__desc {
  font-size: 17px;
}

.details__info {
  font-size: 30px;
  font-weight: bold;
}

.btn {
  font-family: Lato;
  font-size: 19px;
  color: #000000;
  border: 2px solid #27272752;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (min-width: 480px) {
  .weather__cities {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .weather__city:not(:nth-child(1)) {
    margin-top: 0;
  }
  .weather__city:nth-child(3), .weather__city:nth-child(4) {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .header__container {
    width: 700px;
  }
  .header__container > div > * {
    margin-left: 0;
    margin-right: 0;
  }
  .wrapper {
    width: 700px;
    margin: 0 auto;
  }
  .weather {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .weather__cities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .weather__city:not(:nth-child(1)) {
    margin-top: 15px;
  }
  .weather__box {
    margin: 0;
  }
  .weather__check {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding-top: 40px;
  }
  .weather__moreinfo {
    padding-top: 40px;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin-left: 50px;
    z-index: -1;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    width: 930px;
  }
  .header__container {
    width: 930px;
  }
  .details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .details__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90px;
    width: 130px;
  }
  .details__box:not(:nth-child(1)) {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1100px;
  }
  .header__container {
    width: 1100px;
  }
}
/*# sourceMappingURL=css.css.map */